{{!-- Just some plain text --}}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='stylesheet' type='text/css' href='./css/main.css'>

    {{!--
    <script src='main.js'></script> --}}
</head>


<h1>SkyCat Books</h1>

[<a href="/">Books</a> | <a href="/Customers">Customers</a> | <a href="/Orders">Orders</a> | <a
    href="/OrderDetails">OrderDetails</a> | <a href="/Payments">Payments</a> ]


{{!-- The Data from our Database --}}
<h2>OrderDetails</h2>
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.order_details_id}}</td>
            <td>{{this.book_id}}</td>
            <td>{{this.order_id}}</td>
            <td>{{this.book_quantity}}</td>
            <td>{{this.unit_price}}</td>
            <td>{{this.line_total}}</td>
            <td>{{this.status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add an order detail</h2>
<p>To add a new order detail, please enter the information below and click `Submit`!</p>
<form id="add-od-form" method="POST" action="/add-od-form">
    <label for="input-bookid">Book ID: </label>
    {{!-- <input type="number" name="input-bookid" id="input-book" required> --}}
    <select name="input-bookid" id="mySelect">
        <option value="test">Book ID</option>
        {{#each data}}
        <option value="{{this.book_id}}">{{this.book_id}}</option>
        {{/each}}
    </select>

    <label for="input-orderid">Order ID: </label>
    {{!-- <input type="number" name="input-orderid" id="input-orderid" required> --}}
    <select name="input-orderid" id="mySelect">
        <option value="test">Order ID</option>
        {{#each data}}
        <option value="{{this.order_id}}">{{this.order_id}}</option>
        {{/each}}
    </select>

    <label for="input-bookquant">Quantity: </label>
    <input type="number" name="input-bookquant" id="input-bookquant" required>

    <label for="input-unit_price">Unit Price: </label>
    <input type="number" step='0.01' name="input-unit_price" id="input-unit_price" required>

    <label for="input-line_total">Line Total: </label>
    <input type="number" step='0.01' name="input-line_total" id="input-line_total" required>

    <label for="input-shipped">Shipped: </label>
    <input type="checkbox" name="input-shipped" id="input-shipped">

    <input type="submit">
</form>

</html>