{{!-- Just some plain text --}}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='stylesheet' type='text/css' href='./css/main.css'>

    {{!--
    <script src='main.js'></script> --}}
</head>

<h1>SkyCat Books</h1>

[<a href="/">Books</a> | <a href="/Customers">Customers</a> | <a href="/Orders">Orders</a> | <a
    href="/OrderDetails">OrderDetails</a> | <a href="/Payments">Payments</a> ]


{{!-- The Data from our Database --}}
<h2>Payments</h2>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.payment_id}}</td>
            <td>{{this.customer_id}}</td>
            <td>{{this.date}}</td>
            <td>{{this.credit_card}}</td>
            <td>{{this.exp_date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add a payment</h2>
<p>To add a new payment, please enter the information below and click `Submit`!</p>
<form id="add-payment-form" method="POST" action="/add-payment-form">
    <label for="input-customerid">Customer ID: </label>
    {{!-- <input type="number" name="input-customerid" id="input-customerid" required> --}}
    <select name="input-customerid" id="mySelect">
        <option value="test">Customer ID</option>
        {{#each data}}
        <option value="{{this.customer_id}}">{{this.customer_id}}</option>
        {{/each}}
    </select>


    <label for="input-date">Date: </label>
    <input type="date" name="input-date" id="input-date" required pattern="\d{4}-\d{2}-\d{2}">

    <label for=" input-cc">Credit Card: </label>
    <input type="text" name="input-cc" id="input-cc" placeholder="1111-1111-1111-1111" required
        pattern="/[0-9]{4}+\d\s\S[0-9]{4}+\d\s\S[0-9]{4}+\d\s\S[0-9]{4}/">

    <label for="input-exp">Expiration Date: </label>
    <input type="text" name="input-exp" id="input-exp" placeholder="MM/YY" required
        pattern="(?:0[1-9]|1[0-2])/[0-9]{2}">

    <input type="submit">
</form>

</html>